<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div class="panel panel-default">
      <% if @messages.empty? %>
        <div class="panel-body">
          No messages in Newsfeed yet. Follow other people to see something here.
        </div>
      <% end %>

      <ul class="list-group">
        <% @messages.each do |message| %>
          <li class="list-group-item">
            <%= render 'messages/message', message: message %>
          </li>
        <% end %>
      </ul>

      <% if @messages.total_pages > 1 %>
        <div class="panel-footer text-center">
          <%= will_paginate @messages, renderer: BootstrapPagination::Rails %>
        </div>
      <% end %>
    </div>
  </div>
</div>
