<footer id="footer">
  <div class="container">
    <ul>
      <li>&copy; by Qush</li>
    </ul>

    <p class="footer-social">
      <%= link_to 'https://www.facebook.com/Qush-1932997873690533/' do %>
        <%= fa_icon 'facebook' %>
      <% end %>
      <%= link_to 'https://twitter.com/qushworth' do %>
        <%= fa_icon 'twitter' %>
      <% end %>
    </p>
  </div>
</footer>
