<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Following
        </h3>
      </div>

      <% if @following.empty? %>
        <div class="panel-body">
          Follows nobody.
        </div>
      <% end %>

      <%= render 'list', users: @following %>

      <% if @following.total_pages > 1 %>
        <div class="panel-footer text-center">
          <%= will_paginate @following, renderer: BootstrapPagination::Rails %>
        </div>
      <% end %>
    </div>
  </div>
</div>
