@import "**/*";

$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;

@import "bootstrap-sprockets";
@import "bootswatch/lumen/variables";
@import "bootstrap";
@import "bootswatch/lumen/bootswatch";

body {
  margin-top: 70px;
  overflow-wrap: break-word;
}
