// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message-content {
  margin-top: 15px;
  margin-bottom: 15px;

  a {
    color: #555;
  }
}

.list-group-item-msg, .panel-body-msg {
  padding: 0;
  margin: 0;
}

.message {
  padding: 15px 15px 10px 15px;
  margin: 0;

  p {
    margin: 0;
    padding: 0;
  }
}
